# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sum

# Test binary, built with `go test -c`
*.test
eauthv3
server

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
# ide
.idea/

.env

.history
keys